{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'blog/aboutus.css' %}">
  </head>
  <body>



    <div class="">

      <p>Who we are?</p>


        <img class="aman" src="{% static 'blog/images/Asset 17@2x Cropped.png' %}" alt="Aman">
        <img class="nithin" src="{% static 'blog/images/Asset 14@2x Cropped.png' %}" alt="Nithin">
        <img class="swathi" src="{% static 'blog/images/Asset 13@2x Cropped.png' %}" alt="Swathi"><br>
        <img class="midhun" src="{% static 'blog/images/Asset 16@2x Cropped.png' %}" alt="Midhun">
        <img class="nikhil" src="{% static 'blog/images/Asset 15@2x Cropped.png' %}" alt="Nikhil">

    </div>



  </body>
</html>
