{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/home.css' %}">
    <title>Healthy Meal - Home</title>
</head>

<body>
    <img src="{%static 'blog/images/Asset 66@2x.png' %}" class="firstbg">

    <div class="grid-container1 gc">

        <div class="item1">

            
        </div>
        <div class="item2">
            <div class="logo">
                <img src="{%static 'blog/images/Asset 64@2x.png' %}" class="logo_img">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="{% url 'home' %}" class="active">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'contact' %} ">Chef</a></li>
                    <li><a href="{% url 'contact' %} ">Contact Us</a></li>
                    <li><a href="{% url 'core:menu' %}">Meals</a></li>

                </ul>
            </div>
            <div class="nav">
                    {% if user.is_authenticated %}
                        <li><a href=" {% url 'users:logout' %} ">Logout</a></li>    
                    {% else %}
                    <div class="sign">
                        <a href=" {% url 'users:login' %} ">Login</a></li>
                    </div>
                    
                    {% endif %}
            </div>
        </div>
        <div class="item3">
            <div class="heading">
                Relish Your Every Meal<br>
                With A Blend Of Nutrients...
            </div>
            <div class="subheading">
                Feeling Hungry?
            </div>
            <div class="button">
                <a href="{% url 'core:menu' %} ">Order Now</a>
            </div>
        </div>
        <div class="item4">
            <img src="{% static 'blog/images/Asset 65@2x.png' %}">
            <img src="{%static  'blog/images/Asset 56@2x.png' %}" class="food">
        </div>
    </div>
</body>

</html>