{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div >
        <form action="" method="POST">
                {% csrf_token %}
                
                <fieldset class="form-group">
                    {{ form }}
                </fieldset>

                <button type="submit" name="button" >Save changes</button>




        </form>

    </div>



  </body>
</html>