{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/meal.css' %}">
    <title>Healthy Meal - Meals</title>
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/6bea53be50.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid-container1 gc">
        <div class="item1">
            <div class="logo">
                <img src="{% static 'core/images/Asset 64@2x.png' %}">
            </div>
            <div class="user">
                <img src="{{ user.profile.image.url }}" class="userimg">

                <div class="username">
                    {{request.user.username}}
                </div>
            </div>
            <div class="opt">
                <div class="head">Menu</div>

                <a href="{% url 'home' %}">
                    <i class="fas fa-globe-europe"></i>
                    <div class="optname"> Overview </div>
                </a>
                <a href="{% url 'core:menu' %}" class="options">
                    <i class="fas fa-utensils"></i>
                    <div class="optname">Meals</div>
                </a>
                <a href=" {% url 'core:order-summary' %} " class="options">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="optname">Cart</div>
                </a>
                <a href="{% url 'users:profile' %}" class="options">
                    <i class="fas fa-user-alt"></i>
                    <div class="optname">User Account</div>
                </a>
                <a href="{% url 'core:order-history' %}" class="options active">
                    <i class="fas fa-shopping-basket"></i>
                    <div class="optname">Order History</div>
                </a>

                <div class="head">Community</div>

                <a href="#" class="options">
                    <i class="fas fa-receipt"></i>
                    <div class="optname">Reviews</div>
                </a>
                <a href="#" class="options">
                    <i class="fas fa-book-reader"></i>
                    <div class="optname">User Recipies</div>
                </a>
                <a href="{% url 'users:logout' %}" class="options signout">
                    <i class="fas fa-power-off"></i>
                    <div class="optname">Sign Out</div>
                </a>
            </div>
        </div>
        

            </form>
<!--             <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="nut">
                    <div class="carb">
                        <select id="filter1" name="filter1" onchange="this.form.submit()">
                          <option selected="selected"> Veg / NonVeg </option>
                          <option value="veg">Veg</option>
                          <option value="nonveg">Non-veg</option>
                        </select>
                  </div>
                </div>

            </form> -->
        <div class="item3">
            <div class="left">
                <div class="headline">Your Order History!!</div>
                
            </div>
            
            <!-- Filters sort by price, rating -->
            
        </div>
        <div class="item4">
            <div class="list">
                 
  {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
  {% endif %}
  <div class="container">
    
    <div class="table-responsive text-nowrap">

  
  </table>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item title</th>
        <th scope="col">Price</th>
        <th scope="col">Discount Price</th>        
        <th scope="col">Quantity</th>
        <th scope="col">Total Item Price</th>
        <th scope="col">Status</th>
        <th scope="col">Date-Time</th>


      </tr>
    </thead>
    <tbody>
    {% for order_item in object2 %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td> {{order_item.item.title}} </td>
        <td>{{order_item.item.price}}</td>
        <td>{{order_item.item.discount_price}}</td>
        <td>
               
                {{ order_item.quantity }}
                
        </td>
        <td>
          {% if order_item.item.discount_price %}
                ${{order_item.get_total_discount_item_price}}
                <span class="badge badge-primary">Saving ${{order_item.get_amount_saved}}</span>
          {% else %}
                ${{order_item.get_total_item_price}}
          {% endif %}
          
        </td>
        
          <td>{{order_item.status}}</td>
          </td>
        
          <td>{{order_item.chef_key}}</td>
        
        
      </tr>
      {% empty %}
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6">
            
        </td>
      </tr>
    {% endfor %}
    {% if object.get_total %}
    <tr>
     
    </tr>
    <tr>
      <td colspan="6">
        
      </td>
    </tr>
    {% endif %}
    </tbody>
  </table>

</div>
      
  </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        var checkboxes = document.getElementsByTagName('input');

        for (var i=0; i<checkboxes.length; i++)  {
          if (checkboxes[i].type == 'checkbox')   {
            checkboxes[i].checked = false;
          }
        }
    </script>
</body>

</html>
<!-- 
{% load static %}






<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <title>Home Page</title>    
</head>
<body>
  <h1 align="center">Your Order Summary!!</h1>
  <br> <br> <br> <br> <br>
  {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
  {% endif %}
  <div class="container">
    
    <div class="table-responsive text-nowrap">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item title</th>
        <th scope="col">Price</th>
        <th scope="col">Discount Price</th>        
        <th scope="col">Quantity</th>
        <th scope="col">Total Item Price</th>

      </tr>
    </thead>
    <tbody>
    {% for order_item in object1 %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td> {{order_item.item.title}} </td>
        <td>{{order_item.item.price}}</td>
        <td>{{order_item.item.discount_price}}</td>
        <td>
                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
        </td>
        <td>
          {% if order_item.item.discount_price %}
                ${{order_item.get_total_discount_item_price}}
                <span class="badge badge-primary">Saving ${{order_item.get_amount_saved}}</span>
          {% else %}
                ${{order_item.get_total_item_price}}
          {% endif %}
          <a style="color: red;" href="{% url 'core:remove-from-cart' order_item.item.slug %}">
            <i class="fas fa-trash-alt float-right"></i>
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Your cart is empty</td>
      </tr>
      <tr>
        <td colspan="6">
            <a class="btn btn-primary float-right" href="{% url 'core:menu' %}">Continue Shopping</a>
        </td>
      </tr>
    {% endfor %}
    {% if object.get_total %}
    <tr>
      <td colspan="5"><b>Order Total</b></td>
      <td><b>${{ object.get_total }} </b></td>
    </tr>
    <tr>
      <td colspan="6">
        <a class="btn btn-warning float-right ml-2" href="{% url 'payments:pay' %}">Proceed to checkout</a>
        <a class="btn btn-primary float-right" href="{% url 'core:menu' %}">Continue Shopping</a>
      </td>
    </tr>
    {% endif %}
    </tbody>
  </table>
  <h2 align="center">Your Order History!!</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item title</th>
        <th scope="col">Price</th>
        <th scope="col">Discount Price</th>        
        <th scope="col">Quantity</th>
        <th scope="col">Total Item Price</th>
        <th scope="col">Status</th>


      </tr>
    </thead>
    <tbody>
    {% for order_item in object2 %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td> {{order_item.item.title}} </td>
        <td>{{order_item.item.price}}</td>
        <td>{{order_item.item.discount_price}}</td>
        <td>
               
                {{ order_item.quantity }}
                
        </td>
        <td>
          {% if order_item.item.discount_price %}
                ${{order_item.get_total_discount_item_price}}
                <span class="badge badge-primary">Saving ${{order_item.get_amount_saved}}</span>
          {% else %}
                ${{order_item.get_total_item_price}}
          {% endif %}
          
        </td>
        
          <td>{{order_item.status}}</td>
        
        
      </tr>
      {% empty %}
      <tr>
        <td colspan="6"></td>
      </tr>
      <tr>
        <td colspan="6">
            
        </td>
      </tr>
    {% endfor %}
    {% if object.get_total %}
    <tr>
     
    </tr>
    <tr>
      <td colspan="6">
        
      </td>
    </tr>
    {% endif %}
    </tbody>
  </table>

</div>
      
  </div>
</body>
</html>
 -->