{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/item.css' %}">
    <title>Healthy Meal - Item</title>
    <script src="https://kit.fontawesome.com/6bea53be50.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gsap/1.19.1/TweenMax.min.js"></script>
</head>

<body>

    <img src="{% static 'core/images/Asset 1@2x.png' %}" class="firstbg">
    <div class="grid-container1 gc">

        <div class="item1">
            <div class="logo">
                <img src="{% static 'core/images/Asset 169@2x.png' %}" class="logo_img">
            </div>
            <div class="detail">
                <div class="num">3</div>
                <div class="name"> {{ item.title }} </div>
                <div class="desc">{{item.description}}</div>
            </div>
                    
        </div>
        <div class="item2">

        </div>
        <div class="item3">
            <a href="{% url 'core:menu' %}" class="back">
                <i class="fas fa-arrow-left"></i>
            </a>
            <div class="image">
                <img src="{{item.image.url}}">
                <img src="{% static 'core/images/boo1.png' %}" class="bo">
            </div>
        </div>
    </div>

    <div class="grid-container2 gc">
        <div class="item4">
            <div class="feed">
                Hear What our Customer Say ?
            </div>
        </div>

        <div class="item5">
            <div class="hor">
                <div class="slider-wrap">
                    <div id="card-slider" class="slider">
                    {% for review in reviews %}
                    <div class="slider-item">
                            <div class="animation-card_image">
                                <img src="{{ review.user.profile.image.url }}" alt="">
                            </div>
                            <div class="animation-card_content">
                                <h4 class="animation-card_content_title title-2">{{ review.user.username }}</h4>
                                <p class="animation-card_content_description p-2">{{review.comment}}</p>
                                <p class="animation-card_content_city">{{review.rating}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> 
        <div class="item6">
            <img src="data/item/Asset 4@2x.png">
        </div>
    </div>

    <script type="text/javascript">
        document.querySelectorAll('.button').forEach(button => button.addEventListener('click', e => {
            if (!button.classList.contains('loading')) {

                button.classList.add('loading');

                setTimeout(() => button.classList.remove('loading'), 3700);

            }
            e.preventDefault();
        }));
    </script>

    <script >
        var cards = $('#card-slider .slider-item').toArray();

startAnim(cards);

function startAnim(array){
    if(array.length >= 4 ) {
        TweenMax.fromTo(array[0], 0.5, {x:0, y: 0, opacity:0.75}, {x:0, y: -120, opacity:0, zIndex: 0, delay:0.03, ease: Cubic.easeInOut, onComplete: sortArray(array)});

        TweenMax.fromTo(array[1], 0.5, {x:79, y: 125, opacity:1, zIndex: 1}, {x:0, y: 0, opacity:0.75, backgroundColor:'#fff',zIndex: 0, boxShadow: '-5px 8px 8px 0 rgba(82,89,129,0.05)', ease: Cubic.easeInOut});

        TweenMax.to(array[2], 0.5, {bezier:[{x:0, y:250}, {x:65, y:200}, {x:79, y:125}], boxShadow: '-5px 8px 16px 0 rgba(0,0,0,0.1)', backgroundColor:'#F1F7EB',zIndex: 1, opacity: 1, ease: Cubic.easeInOut});

        TweenMax.fromTo(array[3], 0.5, {x:0, y:400, opacity: 0, zIndex: 0}, {x:0, y:250, opacity: 0.75, zIndex: 0, ease: Cubic.easeInOut}, );
    } else if(array.length == 1 ) {
        TweenMax.to(array[0], 0.5, {bezier:[{x:0, y:250}, {x:65, y:200}, {x:79, y:125}], boxShadow: '-5px 8px 8px 0 rgba(82,89,129,0.05)',  backgroundColor:'#F1F7EB',zIndex: 1, opacity: 1, ease: Cubic.easeInOut});
    } else if(array.length == 2 ) {
        TweenMax.to(array[0], 0.5, {bezier:[{x:0, y:250}, {x:65, y:200}, {x:79, y:125}], boxShadow: '-5px 8px 8px 0 rgba(82,89,129,0.05)',  backgroundColor:'#F1F7EB',zIndex: 1, opacity: 1, ease: Cubic.easeInOut, onComplete: sortArray(array)});

        TweenMax.fromTo(array[1], 0.5, {x:0, y:400, opacity: 0, zIndex: 0}, {x:0, y:250, opacity: 0.75,  backgroundColor:'#fff',zIndex: 0, ease: Cubic.easeInOut}, ); 

    } else if(array.length == 3 ) {
        TweenMax.fromTo(array[0], 0.5, {x:79, y: 125, opacity:1, zIndex: 1}, {x:0, y: 0, opacity:0.75,  backgroundColor:'#fff',zIndex: 0, boxShadow: '-5px 8px 8px 0 rgba(82,89,129,0.05)', ease: Cubic.easeInOut, onComplete: sortArray(array)});

        TweenMax.to(array[1], 0.5, {bezier:[{x:0, y:250}, {x:65, y:200}, {x:79, y:125}], boxShadow: '-5px 8px 8px 0 rgba(82,89,129,0.05)',  backgroundColor:'#F1F7EB',zIndex: 1, opacity: 1, ease: Cubic.easeInOut});

        TweenMax.fromTo(array[2], 0.5, {x:0, y:400, opacity: 0, zIndex: 0}, {x:0, y:250, opacity: 0.75, zIndex: 0, ease: Cubic.easeInOut}, );

    }
}

function sortArray(array) {
    clearTimeout(delay);
    var delay = setTimeout(function(){
        var firstElem = array.shift();
        array.push(firstElem);
        return startAnim(array); 
    },3000)
}

    </script>

</body>

</html>
