body{

  margin: 0;
  padding: 0;
  background-color: white;

}




.aman{
width: 200px;
height: 200px;

}

.nithin{
width: 200px;
height: 200px;

top:10%;

}

.swathi{

  width: 200px;
  height: 200px;

}

.midhun{
  width: 200px;
  height: 200px;

}

.nikhil{
  width: 200px;
  height: 200px;

}
