body{

background-color: white;

}


.greenstem{
margin: 0px;
padding: 0px;
height: 520px;
width: 120px;
position: absolute;
left:27%;
top:16%;
transition: 1s;
}

.greenstem:hover{
transition: 1s;
transform: translateX(-2px);

}


.fdot, .sdot, .tdot{
margin: 0;
padding: 0;
height: 15px;
width: 15px;
z-index: 1;
transition: 1s;
}

.fdot{
position: absolute;
top:25%;
left:31.19%;

}

.sdot{
position: absolute;
top:45%;
left:34.6%;

}

.tdot{
position: absolute;
top:70%;
left:31%;
}


.fdot:hover{
transition: 0.25s;
height: 17px;
width: 17px;
}
.sdot:hover{
transition: 0.25s;
height: 17px;
width: 17px;
}
.tdot:hover{
transition: 0.25s;
height: 17px;
width: 17px;
}





.ftext, .stext, .ttext{
margin: 0;
padding: 0;
height: 50px;
width: 90px;
z-index: 1;
}

.ftext{
  position: absolute;
  top:25%;
  left:33%;
}


.stext{
  position: absolute;
  top:44%;
  left:36%;
}

.ttext{
  position: absolute;
  top:70%;
  left:32%;
}





.rightbase{
position: fixed;
top:0%;
right:0%;
height: 860px;
width: 1080px;
z-index: -1;

}

.posteregg{
  padding: 0px;
  margin: 0px;
position: absolute;
left:0%;
top:11%;
height: 650px;
width: 480px;
transition: 1s ease-in;
  animation: poster-egg 3s ease-out;
}

.posteregg:hover{

animation-duration: 0;
transition: 0.75s ease-out;
transform: translateX(-10px);

}
@keyframes poster-egg {
  0%, 100% {left: 0px}
  50% {left: -10px}

  0%{

    opacity: 0;
  }
  50%{

    opacity: 50;
  }
  100%{

    opacity: 100;
  }
}

.discount{
padding: 0;
margin: 0;
z-index: 1;
position: absolute;
bottom: 8%;
left: 50%;
height: 100px;
width: 100px;

}



.discborder{

  padding: 0;
  margin: 0;
  z-index: 1;
  height: 180px;
  width: 180px;
  position: absolute;
  bottom: 3%;
  left: 46.9%;


}


.login{
position: absolute;
top:180px;
right:15%;
color: white;

}
.form{


position: absolute;
top:30%;
right:10%;



}

.form input[name="username"], input[name="password"], input[name="email"]{


  background: white none;
  border-radius: 20px ;
padding: 10px 10px;
margin: 10px 10px;
color: rgba(0, 0, 0, 0.5);
font-family: cursive;
font-style:italic;
width: 200px;
transition: 0.25s;
}


.form input[name="username"]:hover, input[name="password"]:hover, input[name="email"]:hover{



padding: 12px 12px;
transition: 0.25s;

}



.form button[name="button"]{
border-radius:10px;
padding: 10px;
margin: 20px;
position: absolute;
right: 25%;
width:80px;
transition: 0.25s;
}



.form button[name="button"]:hover{
  border-radius:20px;
  transition: 0.25s;
  box-shadow: 2px 4px 1px  black;


}
