{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/login.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>


<img src="{% static 'users/images/Asset302x.png' %}" class="logo">


<div class="image container">

  <img class="posteregg"src="{% static 'users/images/Asset292x.png' %}" alt="login poster">
    <img class="rightbase" src="{% static 'users/images/Asset400.png' %}" alt="rightbase">
</div>



<p class="login">Login</p>


<div >


        <form class="form"  method="POST" action="{% url 'users:login' %}">
            {% csrf_token %}

            <!-- Please display error here but by different means, coz it is disturbing whole UI-->
            <!-- DO not use form.error-->
            {{ form.username}}

            <br>
            {{ form.password }}

            <br>
                 <button type="submit" name="button" class="sub">Login</button>
                 

        </form>

        <img src="{% static 'users/images/Asset 120@2x.png' %}" style="position: absolute;width: 75px;right: 23%;bottom: 30%;">
        <a href="{% url 'users:signup' %}">
             <img src="{% static 'users/images/Asset 119@2x.png' %}" style="position: absolute;width: 130px;right: 14.5%;bottom: 30%;">
         </a> 
        <br>

</div>










  </body>
</html>
